$primary: #ffc639;
$secondary: #ffd263;
$tertiary: #ffe9b2;
$emphasis: #ff8500;
$dark: #999999;

$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	tertiary: $tertiary,
	emphasis: $emphasis,
	dark: $dark,
);
